node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Built assets
assets/
*.js.map
*.css.map

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?